# My Files
/backups
/export
/wordlists
config.pwm
config.txt

# Code compiled by Maven
*target*
/bin
/out

# Eclipse project files
*.classpath*
*.settings*
*.project*
*/data/*
pom.xml.versionsBackup

# IntelliJ IDEA project files
.idea/
*.iml

# ClearCase Remote Client metadata files
*.copyarea.db

# Mac OS X Finder metadata files
*.DS_Store

# emacs temporary files
.saves*
\#*
.\#*

# vim temporary files
*.swp
*.bak

# Python project files
*.pydevproject
*$py.class

*.metadata
